/.gitignore.swp
/_xmsgs/
/_ngo/
/iseconfig/
/xlnx_auto_0_xdb/
/xst/
/*.gise
/*.bgn
/*.bit
/*.bld
/*.cmd_log
/*.drc
/*.lso
/*.map
/*.mrp
/*.ncd
/*.ngc
/*.ngd
/*.ngm
/*.ngr
/*.pad
/*.par
/*.pcf
/*.prj
/*.ptwx
/*.stx
/*.syr
/*.twr
/*.twx
/*.unroutes
/*.ut
/*.xpi
/*.xrpt
/*.xst
/*.xwbt
/*_pad.csv
/*_pad.txt
/*_summary.xml
/*_usage.xml
/*_webtalk.html
/rom_*_blocks.vhd
/webtalk.log
/webtalk_pn.xml
/tools/robotron.snd
/tools/rom_*_blocks.vhd

/ROMs/decoder.4
/ROMs/decoder.6
/ROMs/robotron.sb?
/ROMs/robotron.snd
/sounds/